{% extends "base_generic.html" %}

{% block title %}
    {{ title }}
{% endblock%}

{% block content %}
    <div class="historyContent">
        <div class="historyHead">
            <div class="historyTitle">Historial</div>
            <div class="historySubtitle">Saldo: <span class="historyMoney">{{ money }}</span></div>
            <div class="historyInputMoney">
                <input type="number" class="historyInputMoneyField" min="0" value="0" step="50">
                <button type="submit" class="historyInputMoneyButton">+</button>
            </div>
        </div>

        <hr>

        <table class="historyWrapper">
            <tr class="historyTop">
                <th class="historyLabels">Fecha</th>
                <th class="historyLabels">Productos</th>
                <th class="historyLabels historyLabelsEnd">Total</th>
            </tr>
            {% for order in history %}
            <tr class="historyItems">
                <th class="historyDate">{{ order[0] }}</th>
                <th class="historyProducts">
                    {% for film in order[1] %}
                    <div class="historyFilm">
                        <button type="submit" class="historyButton">
                            <img alt="Link to {{ film[0].title }}" src="{{ url_for('static', filename=film[0].poster) }}" class="historyFilmPoster">
                        </button>
                        <div class="historyFilmData">
                            <div class="historyFilmTitle">{{ film[0].title }}</div>
                            <div class="historyFilmDetails">
                                <div class="historyFilmDetailsText">Precio</div>
                                <div class="historyFilmPrice">{{ film[0].price }}</div>
                                <div class="historyFilmDetailsText">Unidades</div>
                                <div class="historyFilmQuantity">{{ film[1] }}</div>
                                <div class="historyFilmDetailsText">Total</div>
                                <div class="historyFilmTotal"></div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </th>
                <th class="historyTotal">{{ order[2] }}</th>
            </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}
