{% extends "base_generic.html" %}

{% block title %}
    {{ title }}
{% endblock %}

{% block content %}
    <div class="cartContent">
        <div class="cartTop">
            <div class="cartTitle">Cesta</div>
            <div class="cartLabelsFiller"></div>
            <div class="cartLabels">Cantidad</div>
            <div class="cartLabels">Precio</div>
            <div class="cartLabels">Borrar  </div>
            <div class="cartLabels">Total</div>
        </div>
        <hr>
        <div class="cartItems">
            {% for cart_film in cart_films %}
                <div class="cartFilm">
                    <a href="{{ url_for('film', film_id = cart_film[0].id) }}">
                        <img alt="Link to {{ cart_film[0].title }}" src="{{ url_for('static', filename=cart_film[0].poster) }}" class="cartFilmPoster">
                    </a>
                    <div class="cartFilmData">
                        <div class="cartFilmDataTitle">{{ cart_film[0].title }} <span class="cartFilmDataId">{{ cart_film[0].id }}</span></div>
                        <p class="cartFilmDataDesc">{{ cart_film[0].description }}</p>
                    </div>
                    <input type="number" class="cartFilmQuantity" min="1" value="{{ cart_film[1] }}">
                    <div class="cartFilmPrice">{{ cart_film[0].price }}</div>
                    <button type="submit" class="cartButtons">
                        <i class="fas fa-trash"></i>
                        <span class="cartButtonsText"> Eliminar </span>
                    </button>
                    <div class="cartFilmPartialTotalPrice"></div>
                </div>
            {% endfor %}
        </div>
        <div class="cartCalc">
            <div class="cartLabels">Total cesta</div>
            <div class="cartFilmTotalPrice"></div>
        </div>
        <a href="{{ url_for('checkout') }}" class="cartPayButton">
            <div class="cartPayButtonContent">
                <i class="fas fa-cash-register"></i>
                <div class="cartButtonsText"> Pagar </div>
            </div>
        </a>
    </div>
{% endblock %}